rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Categories/{Any} {
    	match /All/{Any} {
        allow read: if true;
        allow create: if request.auth.uid == "q2SYPrnJwNhaC3PcMhE3LTZ1AIv1";
        allow update: if request.auth.uid == "q2SYPrnJwNhaC3PcMhE3LTZ1AIv1" ||
        (request.resource.data.category == resource.data.category && 
      	request.resource.data.description == resource.data.description && 
        request.resource.data.location == resource.data.location && 
        request.resource.data.original_price == resource.data.original_price && 
        request.resource.data.pictures == resource.data.pictures && 
        request.resource.data.poster_uid == resource.data.poster_uid && 
        request.resource.data.seller == resource.data.seller && 
        request.resource.data.sub_categories == resource.data.sub_categories && 
        request.resource.data.title == resource.data.title && 
        request.resource.data.uid == resource.data.uid)
        allow delete: if resource.data.deleting_now == true || request.auth.uid == "q2SYPrnJwNhaC3PcMhE3LTZ1AIv1";
      }
       allow read: if true;
       allow create: if request.auth.uid == "q2SYPrnJwNhaC3PcMhE3LTZ1AIv1";
       allow delete: if request.auth.uid == "q2SYPrnJwNhaC3PcMhE3LTZ1AIv1";
       allow update: if request.auth.uid == "q2SYPrnJwNhaC3PcMhE3LTZ1AIv1";
    }
    match /Collectors/{Any} {
       allow read: if true;
       allow create: if true;
       allow delete: if false;
       allow update: if 
       request.auth.uid == "q2SYPrnJwNhaC3PcMhE3LTZ1AIv1" ||
       (request.resource.data.collector_picture == resource.data.collector_picture &&
        request.resource.data.seller == resource.data.seller && 
        request.resource.data.description == resource.data.description &&
        request.resource.data.house_picture == resource.data.house_picture &&
        request.resource.data.lat == resource.data.lat &&
        request.resource.data.lng == resource.data.lng && 
        request.resource.data.ratings == resource.data.ratings &&
        request.resource.data.house_address == resource.data.house_address &&
        request.resource.data.city == resource.data.city)
    }
    match /Users/{Any} {
    	allow read: if true;
    	allow create: if true;
      allow update: if request.auth.uid == request.resource.data.uid || 
      request.resource.data.temporary == true || 
      (request.resource.data.orders == resource.data.orders && 
      request.resource.data.sales == resource.data.sales && 
      request.resource.data.pass == resource.data.pass &&
      request.resource.data.uid == resource.data.uid &&
      request.resource.data.stripe_user_id == resource.data.stripe_user_id &&
      request.resource.data.cart.length < resource.data.cart.length)
      allow delete: if false;
    }
    
    match /Orders/{Any} {
    allow read: if true;
    allow create: if true;
    allow update: if request.auth.uid == "q2SYPrnJwNhaC3PcMhE3LTZ1AIv1";
    allow delete: if false;
    }
  }
}