.about-1 {
  font-size: 12px;
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
  font-weight: 600;
  margin-bottom: 2vh;
}

.about-2 div {
  font-size: 14px;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  z-index: 50;
}

.about-3 {
  font-size: 16px !important;
  font-weight: 600;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.about-button {
  background-color: #426cb4;
  color: white;
  margin-top: 30px;
  border-radius: 5px;
  margin-bottom: 1vh;
  margin-left: 20px;
  padding: 10px;
  height: 5vh;
  display: flex;
  font-size: 16px !important;
  align-items: center;
  justify-content: center;
  color: "#ffffff";
  font-weight: 600;
  z-index: 50;
}
