.about-main-1 {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  margin-top: 3vh;
}

.about-main-2 div {
  font-size: 16px;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-align: center;
}

.about-main-3 {
  font-size: 20px !important;
  font-weight: 600;
  margin-top: 3vh;
  margin-bottom: 2vh !important;
}

.about-main-button {
  background-color: #426cb4;
  color: white;
  margin-top: 30px;
  border-radius: 5px;
  margin-bottom: 1vh;
  margin-left: 20px;
  padding: 10px;
  height: 5vh;
  display: flex;
  font-size: 18px !important;
  align-items: center;
  justify-content: center;
  color: "#ffffff";
  font-weight: 600;
}

.about-main-button:hover {
  cursor: pointer;
}

#bar:hover {
  cursor: pointer;
}
