.sr-combo-inputs {
  margin: 20px 0;
}

.sr-input {
  font-size: 16px;
}

.sr-card-element {
  padding-top: 12px;
}

#pay:hover {
  cursor: pointer;
  opacity: 0.7;
  transition-duration: 0.2s;
}

#paypal-button:hover {
  cursor: pointer;
}
