#first,
#last,
#address1,
#address2,
#zip,
#city,
#state {
  margin: 10px;
  font-size: 36px;
  height: 5vh;
  width: 80vw;
}

#menu- li {
  font-size: 36px;
}

#test1 div {
  width: 52vw;
}

.__PrivateStripeElement-input {
  font-size: 36px !important;
}
