#address-input {
  width: 300px;
  transition-duration: 0.8s;
}

#headerbar-main div {
  /* z-index: 999; */
  /* height: 80px; */
}

#close:hover,
#search:hover {
  cursor: pointer;
}

#address-input:focus {
  width: 300px !important;
}

#address-input {
  width: 200px !important;
}

#buy-link:hover,
#sell-link:hover {
  opacity: 0.4;
  transition-duration: 0.2s;
}

#search-button:hover {
  cursor: pointer;
}

#header-checkout:hover {
  opacity: 0.8;
  transition-duration: 0.2s;
}

#profile-button:hover {
  cursor: pointer;
}

#header-checkout:hover,
#help:hover,
#start-shopping:hover,
#my-orders:hover,
#my-sales:hover,
#logout:hover,
#logout-yes:hover,
#logout-no:hover {
  cursor: pointer;
}
