#become-collector:hover,
#sign-in:hover,
#start:hover {
  cursor: pointer;
}

#buy-sell-title {
  letter-spacing: 1px;
}

#start:hover {
  opacity: 0.8;
}

.home1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gill Sans";
}

.home2 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 600;
  font-family: "Gill Sans";
}

.home3 {
  text-align: center;
  width: 20vw;
  font-family: "Gill Sans";
}

#prev-item:hover,
#next-item:hover {
  cursor: pointer;
  opacity: 0.8;
  transition-duration: 100ms;
}

#prev-item,
#next-item {
  background-color: rgb(66, 108, 180);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-family: "Gill Sans";
}

#prev-item {
  margin-right: 3px;
}

#next-item {
  margin-right: 15px !important;
}

#picture-map:hover {
  cursor: pointer;
}

#mobile-next-item {
  background-color: #dae2f1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: #375995;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-size: 22px;
  margin-top: 3vh;
  font-weight: 500;
  margin-left: 3px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#mobile-prev-item {
  background-color: #dae2f1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: #375995;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5;
  font-size: 22px;
  margin-top: 3vh;
  font-weight: 500;
  margin-right: 3px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.focus-visible {
  outline: none;
}

#delivery-address-input-container {
  margin: 0px;
}

#address-drop:hover {
  cursor: pointer;
  background-color: #f5f5f5 !important;
}

#add-to-cart:hover {
  cursor: pointer;
  opacity: 0.8;
  transition-duration: 0.2s;
}
