#item-upload div {
  /* margin-top: 10px;
  width: 300px; */
}

#camera {
  width: 100vw;
}

#camera video {
  width: 100vw !important;
}

#outer-circle {
  width: 0px;
  height: 0px;
}

#inner-circle {
  width: 100px;
  height: 100px;
  top: -5px;
}

#submit:hover {
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  margin-top: 10px;
}

#category2,
#category3 {
  width: 30%;
  height: 200px;
}

.MuiMenu-paper {
  max-height: 400px !important;
}
