#search-input-mobile {
  height: 5vh;
  font-size: 16px;
  width: 50vw;
}

#category-mobile {
  height: 5vh;
  font-size: 16px;
  width: 25vw;
}

#category-mobile li {
  font-size: 16px !important;
}
