#book:hover,
#edit:hover,
#button:hover {
  cursor: pointer;
}

#kit:hover {
  cursor: pointer;
}

#expand:hover {
  cursor: pointer;
}

#one:hover,
#two:hover,
#three:hover {
  border-color: burlywood !important;
  opacity: 0.8 !important;
}
