#address-input {
  width: 300px;
  transition-duration: 0.8s;
}

#address-input:focus {
  width: 400px !important;
}

#buy-link:hover,
#sell-link:hover {
  opacity: 0.4;
  transition-duration: 0.2s;
}

#search-button:hover {
  cursor: pointer;
}

#header-checkout:hover {
  opacity: 0.8;
  transition-duration: 0.2s;
}

#profile-button:hover {
  cursor: pointer;
}

#start-shopping:hover,
#my-orders:hover,
#my-sales:hover,
#logout:hover,
#logout-yes:hover,
#logout-no:hover {
  cursor: pointer;
}
