#address-input {
  width: 300px;
  transition-duration: 0.8s;
}

#address-input:focus {
  width: 400px !important;
}

#search-button:hover {
  cursor: pointer;
}

#header-checkout:hover {
  opacity: 0.8;
  transition-duration: 0.2s;
}
